/* Styles généraux */
body {
  background-color: #767678;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  animation: fade-in-header 1s ease-in-out;
}

@keyframes fade-in-header {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1, h2 {
  text-align: center;
  font-weight: 700;
  color: #525153; /* Primary color */
}

p {
  text-align: center;
  color: #fff; /* White text color */
}

/* Navbar styles */
.navbar {
  background-color: #353336;
  padding: 10px 0;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #fff; /* White text color */
}

.navbar-toggler {
  border-color: transparent;
}

.nav-link {
  color: #fff; /* White text color */
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #fff; /* White background on hover */
  color: #8a57a6; /* Primary color on hover */
}

.form-control {
  width: 300px;
}

/* Audio players styles */
/* Styles généraux pour le conteneur du lecteur audio */
.audio-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #a79f9f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styles pour la pochette d'album */
.cover img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styles pour le titre de la chanson */
#audio-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

/* Styles pour le nom de l'artiste */
#audio-artist {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

/* Styles pour les boutons de contrôle */
.controls button {
  background-color: #333;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.controls button:focus {
  outline: none;
}

/* Style pour le bouton de lecture / pause */
#play-pause-button {
  width: 60px;
  height: 60px;
  font-size: 24px;
}

/* Styles pour les icônes de bouton */
.controls button i {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles pour le bouton de répétition */
#repeat-button.active {
  background-color: #4CAF50; /* Couleur active */
}

/* Styles pour le bouton de lecture aléatoire */
#random-button.active {
  background-color: #5f6367; /* Couleur active */
}

/* partie chat */
.container {
  margin-top: 20px;
}

h1 {
  color: #e8dee3;
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.form-group label {
  color: #e9d6e0;
  font-weight: bold;
}

.btn-primary {
  background-color: #595859; /* Primary color */
  border-color: #442d51;
}

.btn-primary:hover {
  background-color: #737174;
  border-color: #555156; /* Complementary color on hover */
}

.card {
  background-color: #767678;
  border-color: #6f6c6f; /* Complementary color */
}

.card-title {
  color: #504e50; /* Complementary color */
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-text {
  color: #666;
}

.text-center {
  color: #acacb8; /* Complementary color */
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Lecture pour les musiques en fondu */

/* Style pour le fondu de sortie */
@keyframes fadeOut {
  from {
    volume: 1;
  }
  to {
    volume: 0;
  }
}

.fade-out {
  animation: fadeOut 5s forwards; /* Fondu de sortie pendant 5 secondes */
}

  /* style pour les playlists */

/* CSS pour le conteneur de la page */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* CSS pour le formulaire */
.form-group {
  margin-bottom: 10px;
}

.form-check {
  margin-bottom: 5px;
}

/* CSS pour le bouton de création */
.btn-primary {
  background-color: #585a5d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

/* CSS pour la liste des playlists */
h2 {
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

/* CSS pour les menus déroulants */
h3 {
  margin-bottom: 5px;
}

select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Définition des styles pour les petits écrans */
@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }

  table {
    font-size: 12px;
  }
}

/* Définition des styles pour les écrans de taille moyenne */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 28px;
  }

  table {
    font-size: 14px;
  }
}

/* Définition des styles pour les grands écrans */
@media screen and (min-width: 1025px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 32px;
  }

  table {
    font-size: 16px;
  }
}  